fastapi
uvicorn
python-dotenv
python-jose
passlib[bcrypt]
requests
redis
pandas
langchain_community
numpy
openai
cohere
langchain-core
langchain-openai
langchain-groq
langchain-huggingface
pinecone
pinecone-text
pydantic
openpyxl
